.navbar{
    display: flex;
    background-color: rgb(143, 206, 231);
}

.nav-list{
    display: flex;
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(138, 128, 128);
}

.nav-list a:hover {
    background-color: rgb(70, 70, 70);
}

.nav-button {
    display: none;
}

@media (max-width: 1000px) {
    .nav-button{
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(39, 36, 36);
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }

    .nav-button:hover {
        background-color: rgb(94, 202, 166);
}
    
    
    .drop:hover .nav-list{
            display: block;
            right: 1px;
            position:absolute;
            background-color: rgb(39, 36, 36);
    }

    .navbar{
        justify-content: space-between;
    }
}